<div ng-cloak layout="row" layout-align="center" layout-wrap>
    <md-content class="md-padding" flex="66">
        <md-nav-bar md-selected-nav-item="currentNavItem"
                    nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#!/mp3files" name="mp3files">MP3 Files</md-nav-item>        
            <md-nav-item md-nav-href="#!/playlist" name="playlist">Playlists</md-nav-item>
        </md-nav-bar>
        <div class="ext-content" layout-padding>
            <div ng-view></div>
        </div>
    </md-content>
</div>