<div>
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            {{mp3details.MP3FileID}}
        </dd>
        <dt>
            Name
        </dt>
        <dd>
            {{mp3details.Name}}
        </dd>
        <dt>
            Author
        </dt>
        <dd>
            {{mp3details.Author}}
        </dd>
        <dt>
            Album Name
        </dt>
        <dd>
            {{mp3details.AlbumName}}
        </dd>
    </dl>
</div>
<a href="#!/mp3files">Back</a>